//@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,400&display=swap");
/* font-family: 'Open Sans', sans-serif; */

/*  RESET  */

@import url("../assets/fonts.css");

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

a {
    color: var(--text-color);
}

button:focus {
    outline: none;
}

label[for="description"] {
    color: var(--text-color);
}

#root {
    min-height: 100%;
    padding: 1.5em;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 15px;
    position: relative;
}

#app-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h1 {
        margin: 0;
        line-height: 1;
        font-size: 2em;
        color: var(--text-color);
    }
}

/* APPLICATION SECTION STYLING */

#app-overlay {
    position: absolute;
    width: 100%;
    height: 100%;

    #overlayContent,
    #overlayBG {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    #overlayContent {
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #overlayBG {
        background-color: var(--bg-color);
        z-index: 1;
        opacity: 0.5;
    }

    &.idle {
        z-index: -100;
        opacity: 0;
    }

    .wrapper{
        padding: 2em;
        background-color: var(--bg-color);
        border-radius: var(--border-radius);
    }

    .addProject, .addCue, .description{
        input{
            margin-top: 0.5em;
            margin-bottom: 0.5em;
        }

        label{
            color: var(--text-color);
            margin-right: 0.5em;
        }

        .custom-button:not(.text){
            padding: 0;
        }
    }

    .typeDesicion{
        color: var(--text-color);

        div{
            padding: 1em;
            margin: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover{
                background-color: rgba($color: #ffffff, $alpha: 0.15);
            }
        }

        figure{
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                width: 4em;
                height: 4em;
            }
        }
    }

    .description{
        align-items: flex-start;
        justify-content: center;
    }
}

#app-main {
    #app-content {
        margin-top: 1.5em;
    }
}

#app-toolColumn{
    display: flex;
    flex-direction: column;
}

/* VARIABLES */
:root {
    /*     --bg-color: rgb(20, 0, 58);
    --text-color: white;
    --bg-color-light: rgb(48, 45, 63);
    --bg-color-light-highlight: rgb(75, 70, 98);
    --button-active-color: rgb(0, 148, 153);
    --fadeIn-color: rgba(255, 0, 0, var(--fade-opacity));
    --fadeOut-color: rgba(65, 105, 225, var(--fade-opacity));
    --fadeOutAnchor-color: rgb(65, 105, 225);
    --fadeInAnchor-color: rgb(255, 0, 0);
    --fade-opacity: 0.3; */

    --bg-color: rgb(14, 14, 14);
    --text-color: white;
    --bg-color-light: rgb(59, 59, 59);
    --bg-color-light-highlight: rgb(92, 92, 92);
    --button-active-color: rgb(0, 148, 153);
    --fadeIn-color: rgba(255, 0, 0, var(--fade-opacity));
    --fadeOut-color: rgba(65, 105, 225, var(--fade-opacity));
    --fadeOutAnchor-color: rgb(65, 105, 225);
    --fadeInAnchor-color: rgb(255, 0, 0);
    --fade-opacity: 0.3;
    --border-radius: 5px;
}

/* BASIC CLASSES */

.electron-draggable {
    -webkit-app-region: drag;
}

.electron-non-draggable {
    -webkit-app-region: no-drag;
}

.flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.flex-end {
    justify-content: flex-end;
    align-items: center;
}

.max-width-50ch{
    max-width: 50ch;
}

.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.custom-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background-color 0.15s cubic-bezier(0.57, 0.04, 0.31, 1);

    &:hover{
        background-color: rgba($color: #ffffff, $alpha: 0.15);
    }

    &.minor{
        padding: 0;
    }

    &.text{
        padding: 0.5em 1em;
        font-size: 1em;
        font-weight: 700;
        color: var(--text-color);
    }
}

/* SPECIFIC CLASSES */

#startScreen{
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.mainLink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: var(--bg-color-light);
    border-radius: var(--border-radius);

    a{
        text-decoration: none;
    }


    p{
        text-align: center;
        text-decoration: none;
    }

    figure{
        margin: 0;
    }

    &:hover{
        background-color: var(--bg-color-light-highlight);
    }
}



.importDB{
    margin-top: auto!important;
}

.panel {
    padding: 0.5em;
    border-radius: var(--border-radius);
    background-color: var(--bg-color-light);
}

.prjList,
.cueList {
    display: grid;
    grid-gap: 1em;
    /*     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
}

.prjList {
    grid-template-columns: 1fr;
}

.cueList {
    grid-template-columns: 1fr 1fr;
}

.projectCard,
.cueCard {
    background-color: var(--bg-color-light);
    padding: 1.5em;
    border-radius: var(--border-radius);
    transition: all 0.15s ease-in-out;

    a, .no-link {
        text-decoration: none;
        color: var(--text-color);
        height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;

        h1,
        h2,
        p {
            margin: 0;
        }

        h2 {
            margin-bottom: 0.5em;
        }

        p.cueDescription {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        p.info {
            margin-top: 0.5em;
            font-size: 0.8em;
        }
    }

    &:hover {
        background-color: var(--bg-color-light-highlight);
    }
}

.projectCard.no-delete a{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backButtonWrapper {
    height: 2em;
}

.backButton {
    border: none;
    background-color: transparent;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.backLink {
    color: var(--text-color);
    font-weight: 700;
    text-decoration: none;
}

.button-wrapper{
    background-color: transparent;
    border: none;
    margin-top: 0.5em;

    &:first-child{
        margin-top: 0em
    }

    &.row{
        margin-top: 0;
    }
}

.cueTimeline {
    overflow-x: scroll;

    div.time {
        height: 30px;
        display: flex;
        flex-direction: row;

        .marker {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;

            p {
                margin: 0;
                padding: 0;
                text-align: center;
                flex-basis: 50%;
            }

            .timeMarker {
                width: 1px;
                background-color: black;
                flex-basis: 50%;
            }
        }
    }
}

.cueLayer {
    margin: 2px 0;
    -webkit-user-drag: none;
    user-select: none;

    .cueContent {
        border: 2px black solid;
        border-radius: var(--border-radius);
        position: relative;
        resize: horizontal;
        overflow: hidden;
        text-align: center;
        color: var(--text-color);

        p {
            -webkit-user-drag: none;
            user-select: none;
            margin: 0;
        }
    }
}

.fade {
    position: absolute;

    &.fadeIn {
        top: 0;
        left: 0;
        height: 100%;
        background-color: var(--fadeIn-color);
    }

    &.fadeOut {
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--fadeOut-color);
    }

    .fadeContent {
        position: relative;
        height: 100%;
    }
}

.fadeInAnchor {
    position: absolute;
    right: 0px;
    width: 15px;
    height: 15px;
    background-color: var(--fadeInAnchor-color);

    &.init {
        right: -15px;
    }

    &.disabled.init {
        right: -50px;
        width: 50px;
        height: 100%;
    }
}

.fadeOutAnchor {
    position: absolute;
    left: 0px;
    width: 15px;
    height: 15px;
    background-color: var(--fadeOutAnchor-color);

    &.init {
        left: -15px;
    }

    &.disabled.init {
        left: -50px;
        width: 50px;
        height: 100%;
    }
}

.fadeInAnchor.disabled,
.fadeOutAnchor.disabled {
    height: 100%;
    width: 100%;
}

.cueEditor {
    .backButton {
        margin-top: 1em;
        margin-left: 1em;
    }

    .cueDescription {
        color: var(--text-color);
        margin: 0 1em;
    }
}

.mixer {
    margin-top: 1em;
    padding: 0.5em;
    background-color: var(--bg-color-light);

    .mixingElement {
        min-height: 30ch;
        min-width: 10ch;
        justify-content: space-evenly;
        border: 2px solid black;
        border-radius: var(--border-radius);
        padding: 10px 5px;
        margin: 0 5px;
        overflow: hidden;
        background-color: var(--bg-color-light-highlight);

        .fader {
            height: 100%;
            position: relative;
            width: 30px;
            margin-right: 10px;
            .rail {
                height: inherit;
                width: 100%;
                position: absolute;
                display: flex;
                justify-content: center;

                div {
                    height: inherit;
                    width: 2px;
                    background-color: black;
                }
            }
            .knob {
                height: inherit;
                width: 100%;
                position: absolute;

                div:first-child {
                    background-color: transparent;
                    width: 0;
                    max-height: calc(100% - (2.5em / 2));
                }

                div:nth-child(2) {
                    margin: 0 auto;
                    height: 2.5em;
                    width: 100%;
                    background-color: rgb(54, 214, 153);
                }
            }
        }
        .controls {
            justify-content: space-evenly;
            width: 40px;

            .pan {
                width: 100%;
                padding-bottom: 100%;
                background-color: black;
                border-radius: 50%;
                position: relative;
                .tip {
                    width: 4px;
                    height: 10px;
                    position: absolute;
                    top: 0;
                    left: calc(50% - 2px);
                    background-color: grey;
                }
            }
            .buttons {
                .buttonContainer {
                    width: 100%;
                    height: 0;
                    padding-bottom: 100%;
                    position: relative;

                    &:first-child {
                        margin-bottom: 0.5em;
                    }
                }
                button {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 700;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: var(--bg-color);
                    border: none;
                    border-radius: 8px;

                    &:hover,
                    &.active {
                        background-color: var(--button-active-color);
                    }
                }

                .mute {
                    color: red;
                    margin-bottom: 0.5em;
                }
                .solo {
                    color: yellow;
                }
            }
            .vol {
                p {
                    margin: 0;
                    text-align: center;
                    color: var(--text-color);
                }
            }
        }
    }
}

.propertyWindow {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    padding: 1em;

    .property {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0.5em 0;

        #close {
            margin-right: 5em;
            margin-bottom: 1em;
        }

        .value {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-basis: 40%;

            input {
                flex-basis: 60%;
            }

            p {
                flex-basis: 40%;
                margin-left: 0.5em;
            }
        }

        p {
            margin: 0;

            &.type {
                flex-basis: 60%;
            }
        }
    }
    .confirmButton {
        margin-top: 2em;
    }
}

#selector {
    list-style: none;
    padding: 0;
    max-height: 100%;
    overflow: auto;

    li{
        margin-bottom: 1em;

        &:last-child{
            margin-bottom: 0em;
        }
    }
}

.cueTimeline:hover::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 1);
}

:hover::-webkit-scrollbar-thumb {
    background-color: rgba(165, 42, 42, 1);
}

::-webkit-scrollbar {
    height: 8px;
    transition: all 5s ease-in-out;
}

::-webkit-scrollbar-thumb {
    opacity: 0;
    background-color: rgba(165, 42, 42, 0);
    border-radius: 5px;
    transition: all 5s ease-in-out;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    transition: all 5s ease-in-out;
}

.nodeGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.node {
    min-width: 175px;
    min-height: 100px;
    margin: 1em;
    padding: 1em;
    background-color: var(--bg-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .header{
        margin-bottom: 0.5em;

        .clearCue{
            opacity: 0.0;
            transition: opacity 0.15s ease-in-out;
        }

        &:hover{
            .clearCue{
                opacity: 1;
            }
        }
    }

    h2{
        margin-top: 0;
        color: var(--text-color);
        margin-bottom: 0;
    }

    p{
        margin: 0;
        color: var(--text-color);

        &.description{
            max-width: 35ch;
            margin-bottom: 1em;
        }
    }

    &.active {
        border: 4px solid crimson;
    }

    &.playing{
        background-color: var(--fadeIn-color);
    }

    .footer{
        display: flex;
        justify-content: space-between;

        .time{
            display: flex;
            align-items: center;

            .indicator{
                margin-left: 0.5em;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                border: 2px dotted white;
            }
        }
    }
}

#assembler{
    button#addLayer{
        display: block;
        margin: 1em auto;
    }
}
