@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;0,800;1,400&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/*  RESET  */
* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

a {
  color: var(--text-color);
}

button:focus {
  outline: none;
}

#root {
  min-height: 100%;
  padding: 1.5em;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 15px;
  position: relative;
}

#app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#app-header h1 {
  margin: 0;
  line-height: 1;
  font-size: 2em;
  color: var(--text-color);
}

/* APPLICATION SECTION STYLING */
#app-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
#app-overlay #overlayContent, #app-overlay #overlayBG {
  position: absolute;
  width: 100%;
  height: 100%;
}
#app-overlay #overlayContent {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app-overlay #overlayBG {
  background-color: var(--bg-color);
  z-index: 1;
}
#app-overlay.idle {
  z-index: -100;
  opacity: 0;
}

#app-main #app-content {
  margin-top: 1.5em;
}

/* VARIABLES */
:root {
  /*     --bg-color: rgb(20, 0, 58);
  --text-color: white;
  --bg-color-light: rgb(48, 45, 63);
  --bg-color-light-highlight: rgb(75, 70, 98);
  --button-active-color: rgb(0, 148, 153);
  --fadeIn-color: rgba(255, 0, 0, var(--fade-opacity));
  --fadeOut-color: rgba(65, 105, 225, var(--fade-opacity));
  --fadeOutAnchor-color: rgb(65, 105, 225);
  --fadeInAnchor-color: rgb(255, 0, 0);
  --fade-opacity: 0.3; */
  --bg-color: rgb(14, 14, 14);
  --text-color: white;
  --bg-color-light: rgb(59, 59, 59);
  --bg-color-light-highlight: rgb(92, 92, 92);
  --button-active-color: rgb(0, 148, 153);
  --fadeIn-color: rgba(255, 0, 0, var(--fade-opacity));
  --fadeOut-color: rgba(65, 105, 225, var(--fade-opacity));
  --fadeOutAnchor-color: rgb(65, 105, 225);
  --fadeInAnchor-color: rgb(255, 0, 0);
  --fade-opacity: 0.3;
}

/* BASIC CLASSES */
.electron-draggable {
  -webkit-app-region: drag;
}

.electron-non-draggable {
  -webkit-app-region: no-drag;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

.space-between {
  justify-content: space-between;
  align-items: center;
}

.flex-end {
  justify-content: flex-end;
  align-items: center;
}

/* SPECIFIC CLASSES */
.panel {
  padding: 0.5em;
  border-radius: 15px;
  background-color: var(--bg-color-light);
}

.prjList,
.cueList {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.projectCard,
.cueCard {
  background-color: var(--bg-color-light);
  padding: 1.5em;
  border-radius: 15px;
  transition: all 0.15s ease-in-out;
}
.projectCard a,
.cueCard a {
  text-decoration: none;
  color: var(--text-color);
}
.projectCard a h1,
.cueCard a h1 {
  margin: 0;
}
.projectCard a p,
.cueCard a p {
  margin: 0;
}
.projectCard:hover,
.cueCard:hover {
  background-color: var(--bg-color-light-highlight);
}

.backButtonWrapper {
  height: 2em;
}

.backButton {
  border: 2px solid var(--text-color);
  background-color: transparent;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backLink {
  color: var(--text-color);
  font-weight: 700;
  text-decoration: none;
}

.cueTimeline {
  overflow-x: scroll;
}
.cueTimeline div.time {
  height: 30px;
  display: flex;
  flex-direction: row;
}
.cueTimeline div.time .marker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cueTimeline div.time .marker p {
  margin: 0;
  padding: 0;
  text-align: center;
  flex-basis: 50%;
}
.cueTimeline div.time .marker .timeMarker {
  width: 1px;
  background-color: black;
  flex-basis: 50%;
}

.cueLayer {
  margin: 2px 0;
  -webkit-user-drag: none;
  user-select: none;
}
.cueLayer .cueContent {
  border: 2px black solid;
  border-radius: 5px;
  position: relative;
  resize: horizontal;
  overflow: hidden;
  text-align: center;
  color: var(--text-color);
}
.cueLayer .cueContent p {
  -webkit-user-drag: none;
  user-select: none;
  margin: 0;
}

.fade {
  position: absolute;
}
.fade.fadeIn {
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--fadeIn-color);
}
.fade.fadeOut {
  top: 0;
  right: 0;
  height: 100%;
  background-color: var(--fadeOut-color);
}
.fade .fadeContent {
  position: relative;
  height: 100%;
}

.fadeInAnchor {
  position: absolute;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: var(--fadeInAnchor-color);
}
.fadeInAnchor.init {
  right: -15px;
}
.fadeInAnchor.disabled.init {
  right: -50px;
  width: 50px;
  height: 100%;
}

.fadeOutAnchor {
  position: absolute;
  left: 0px;
  width: 15px;
  height: 15px;
  background-color: var(--fadeOutAnchor-color);
}
.fadeOutAnchor.init {
  left: -15px;
}
.fadeOutAnchor.disabled.init {
  left: -50px;
  width: 50px;
  height: 100%;
}

.fadeInAnchor.disabled,
.fadeOutAnchor.disabled {
  height: 100%;
  width: 100%;
}

.cueEditor .backButton {
  margin-top: 1em;
  margin-left: 1em;
}
.cueEditor .cueDescription {
  color: var(--text-color);
  margin: 0 1em;
}

.mixer {
  margin-top: 1em;
  padding: 0.5em;
  border-radius: 15px;
  background-color: var(--bg-color-light);
}
.mixer .mixingElement {
  min-height: 30ch;
  min-width: 10ch;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 5px;
  margin: 0 5px;
  overflow: hidden;
  background-color: var(--bg-color-light-highlight);
}
.mixer .mixingElement .fader {
  height: 100%;
  position: relative;
  width: 30px;
  margin-right: 10px;
}
.mixer .mixingElement .fader .rail {
  height: inherit;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.mixer .mixingElement .fader .rail div {
  height: inherit;
  width: 2px;
  background-color: black;
}
.mixer .mixingElement .fader .knob {
  height: inherit;
  width: 100%;
  position: absolute;
}
.mixer .mixingElement .fader .knob div:first-child {
  background-color: transparent;
  width: 0;
  max-height: calc(100% - (2.5em / 2));
}
.mixer .mixingElement .fader .knob div:nth-child(2) {
  margin: 0 auto;
  height: 2.5em;
  width: 100%;
  background-color: #36d699;
}
.mixer .mixingElement .controls {
  justify-content: space-evenly;
  width: 40px;
}
.mixer .mixingElement .controls .pan {
  width: 100%;
  padding-bottom: 100%;
  background-color: black;
  border-radius: 50%;
  position: relative;
}
.mixer .mixingElement .controls .pan .tip {
  width: 4px;
  height: 10px;
  position: absolute;
  top: 0;
  left: calc(50% - 2px);
  background-color: grey;
}
.mixer .mixingElement .controls .buttons .buttonContainer {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
}
.mixer .mixingElement .controls .buttons .buttonContainer:first-child {
  margin-bottom: 0.5em;
}
.mixer .mixingElement .controls .buttons button {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  border: none;
  border-radius: 8px;
}
.mixer .mixingElement .controls .buttons button:hover, .mixer .mixingElement .controls .buttons button.active {
  background-color: var(--button-active-color);
}
.mixer .mixingElement .controls .buttons .mute {
  color: red;
  margin-bottom: 0.5em;
}
.mixer .mixingElement .controls .buttons .solo {
  color: yellow;
}
.mixer .mixingElement .controls .vol p {
  margin: 0;
  text-align: center;
  color: var(--text-color);
}

.propertyWindow {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  padding: 1em;
}
.propertyWindow .property {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0.5em 0;
}
.propertyWindow .property #close {
  margin-right: 5em;
  margin-bottom: 1em;
}
.propertyWindow .property .value {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 40%;
}
.propertyWindow .property .value input {
  flex-basis: 60%;
}
.propertyWindow .property .value p {
  flex-basis: 40%;
  margin-left: 0.5em;
}
.propertyWindow .property p {
  margin: 0;
}
.propertyWindow .property p.type {
  flex-basis: 60%;
}
.propertyWindow .confirmButton {
  margin-top: 2em;
}

#selector {
  list-style: none;
  padding: 0;
}

.test {
  width: 100px;
  height: 100px;
  margin: 15px;
  background-color: var(--bg-color-light);
}
.test.active {
  border: 4px solid crimson;
}

.cueTimeline:hover::-webkit-scrollbar-track {
  background-color: black;
}

:hover::-webkit-scrollbar-thumb {
  background-color: brown;
}

::-webkit-scrollbar {
  height: 8px;
  transition: all 5s ease-in-out;
}

::-webkit-scrollbar-thumb {
  opacity: 0;
  background-color: rgba(165, 42, 42, 0);
  border-radius: 5px;
  transition: all 5s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 5px;
  transition: all 5s ease-in-out;
}

.nodeGroup {
  display: flex;
}

/*# sourceMappingURL=main.css.map */
